In [1]:
from alpha_vantage.timeseries import TimeSeries

In [9]:
API_key = "T5RC6FZEQ6M3Q3V7"

In [10]:
ts= TimeSeries(key=API_key, output_format='pandas')

In [11]:
data = ts.get_daily('TSLA')

In [12]:
data

(            1. open   2. high    3. low  4. close    5. volume
 date
 2023-10-03  248.610  250.0200  244.4500    246.53  101985305.0
 2023-10-02  244.810  254.2799  242.6200    251.60  123810402.0
 2023-09-29  250.000  254.7700  246.3500    250.22  128522729.0
 2023-09-28  240.020  247.5500  238.6500    246.38  117058870.0
 2023-09-27  244.262  245.3300  234.5800    240.50  136597184.0
 ...             ...       ...       ...       ...          ...
 2023-05-17  168.410  174.5000  167.1850    173.86  125473558.0
 2023-05-16  165.650  169.5184  164.3500    166.52   98288792.0
 2023-05-15  167.655  169.7600  164.5499    166.35  105592510.0
 2023-05-12  176.070  177.3800  167.2300    167.98  157849625.0
 2023-05-11  168.700  173.5700  166.7900    172.08  103889930.0

 [100 rows x 5 columns],
 {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'TSLA',
  '3. Last Refreshed': '2023-10-03',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'})

In [13]:
data[0]

            1. open   2. high    3. low  4. close    5. volume
date
2023-10-03  248.610  250.0200  244.4500    246.53  101985305.0
2023-10-02  244.810  254.2799  242.6200    251.60  123810402.0
2023-09-29  250.000  254.7700  246.3500    250.22  128522729.0
2023-09-28  240.020  247.5500  238.6500    246.38  117058870.0
2023-09-27  244.262  245.3300  234.5800    240.50  136597184.0
...             ...       ...       ...       ...          ...
2023-05-17  168.410  174.5000  167.1850    173.86  125473558.0
2023-05-16  165.650  169.5184  164.3500    166.52   98288792.0
2023-05-15  167.655  169.7600  164.5499    166.35  105592510.0
2023-05-12  176.070  177.3800  167.2300    167.98  157849625.0
2023-05-11  168.700  173.5700  166.7900    172.08  103889930.0

[100 rows x 5 columns]

In [14]:
data2= data[0]

In [15]:
data2.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [17]:
data2['2. high']

date
2023-10-03    250.0200
2023-10-02    254.2799
2023-09-29    254.7700
2023-09-28    247.5500
2023-09-27    245.3300
                ...
2023-05-17    174.5000
2023-05-16    169.5184
2023-05-15    169.7600
2023-05-12    177.3800
2023-05-11    173.5700
Name: 2. high, Length: 100, dtype: float64